/*Working on the best website ever!*/

body{
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
}

#first_thing{
	margin-top: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}

#paragraph{
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	margin-top: 3%;
}

#gif{
	margin-top: 4%;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}

p{
	margin-top: none;
}
h1, h2,h3,h4{
	margin-bottom: 5px;
}